// Анимированный показ элемента при появлении.
// Использовать: animation: showing 0.1s ease-out;
@keyframes showing {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.hide {
  height: 0;
  width: 0;
  visibility: hidden;
}
